{% extends "core/index.html" %}
{% load static %}

{% block titulo %}
    Registro
{% endblock titulo %}

{% block contenido %}
<h1>Registrate</h1>
<form method="POST">
    {% csrf_token %}
    <label for="nombre_usuario">Nombre de usuario:</label>
    <input type="text" name="username" required><br/> <br/> 
  
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" required><br/> <br/> 
  
    <label for="last_name">Apellidos:</label>
    <input type="text" name="last_name" required><br/> <br/> 
  
    <label for="email">Email:</label>
    <input type="email" name="email" required><br/> <br/> 
    
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required><br/> <br/>     
    
    <input type="submit" value="Enviar">
    {% if form.errors %}
    <div class="alert alert-danger">
    <strong>Error: El usuario ya existe</strong>
    {{ form.errors.user|striptags }}
    </div>
    {% endif %}
  </form>

{% endblock contenido %}
