/* :root {
    --blanco: #e0e0e0;
    --blanco-2: rgba(255,255,255,.2);
    --negro: #181818;
    --negro-5: rgba(0, 0, 0, 0.5);
    --negro-7: rgba(0, 0, 0, 0.75);
    --tipo-titular:'Raleway', serif;
    --tipo-principal:'Inter', sans-serif;
  }
  
  @media screen and (prefers-color-scheme:light){
    :root {
      --blanco: #181818;
      --blanco-2: rgba(0,0,0,.2);
      --negro: #e0e0e0;
      --negro-5: rgba(255, 255, 255, 0.5);
      --negro-7: rgba(255, 255, 255, 0.75);
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
*/
  .img {
    color: white; 
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
  }
  /*
  .a {
    display: block;
    text-decoration: none;
    color: inherit;
    /* cursor: none; */
  /*}

  video {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
  }
  p a {
    display: inline;
  }
  li {
    list-style-type: none;
  }
  table,tr,td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .html {
    scroll-behavior: smooth;
  }
  h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  form, button,
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: flex;
    color: inherit;
  }*/

  .body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--negro);
    color: #e0e0e0;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* cursor: none; */
  } 
  
  /* .circulos{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
    filter: blur(40px);
    animation:circulo1 50s linear infinite both;
  
  }
  .circulos .circulo{
   position: absolute;
   width:50%;
   height: 50%;
   animation:circulo1 50s linear infinite both;
  }
  .circulos .circulo1{
    top:0%;
    left:0%;
    
  }
  .circulos .circulo1 .path{
    fill: #2e8b57;
  }
  .circulos .circulo2{
    top:0%;
    right:0%;
  }
  .circulos .circulo2 .path{
    fill: rgb(111, 0, 155);
  }
  .circulos .circulo3{
    bottom:0%;
    left:0%;
  }
  .circulos .circulo3 .path{
    fill: rgb(165, 127, 1);
  }
  .circulos .circulo4{
    bottom:0%;
    right:0%;
  }
  .circulos .circulo4 .path{
    fill: rgb(0, 59, 155);
  } */
  
   

  .header{
    margin: 0;    
    border: 0;    
    width: 100%;
    min-height: 5em;  
    font-weight: 800;
    color:#fff;
    background-image: linear-gradient(to right,#8b4394 ,#fdcebb ,#8b4394 );
    -webkit-text-fill-color: transparent;
      background-clip: text;
    color:#fff;    
    padding: 1em 2em;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', serif;    
    height: 60px;
    position: fixed;
    padding: 0 0 0 1em;
    
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    z-index: 1000;
       
  }

  .nav{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
  }
  .header .ul{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  
  }
  .header .li{
    
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    list-style-type: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display: inline;
    margin:0 1em;

    
  }
  .main{
    
    padding: 5em 0 0 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    /* background: rgba(0, 0, 0, 0.75); */
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .seccion{
    margin: 0;
    
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    width: 100%;
    min-height: 80vh;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  
  .seccion .h2{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 5em;
    line-height:1em;
    /* color:#e0e0e0; */
    /* mix-blend-mode: exclusion; */
    background-image: linear-gradient(45deg,#8b4394 0%,#d4c6f9 35%,#fdcebb 85%,#ffffff 100%);
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    color:#fff;
    /* -webkit-text-stroke: 0.018em black; */
    animation: aparecer1 3s ease 1 both;

  }
  .seccion .h3{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    font-family: 'Raleway', serif;
    font-size: 4.3em;
    animation: aparecer1 3s ease 1 both;
  }

  .projects{
    margin: 0;
    
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    width: 100%;
    min-height: 80vh;
    

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 7em 2em;
      
  }
  .projects .info{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    font-size: 1.2em;
    animation: aparecer1 2s ease 1 both ;
    
  }
  
  .projects .ul{
    /* background: red; */
    
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    margin: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .projects .ul .li{
    /* background: chartreuse; */
    
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    list-style-type: none;

    margin: 0 1em;
  }
  .projects .ul .a{    
    margin: 0;    
    box-sizing: border-box;
    vertical-align: baseline;
    
    display: block;
    text-decoration: none;
    color: inherit;

    border:1px solid rgba(255,255,255,.2);
    border-radius: 50%;
    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    animation: aparecer1 2s ease 1 backwards;
  }
  .projects .ul>:nth-child(2) .a{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    display: block;
    text-decoration: none;
    color: inherit;

    animation-delay: .2s;
  }
  .projects .ul .a:hover{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    display: block;
    text-decoration: none;
    color: inherit;

    border-color: #e0e0e0;
  }
  .projects .h2{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 5em;
    line-height:1em;
    /* color:#e0e0e0; */
    /* mix-blend-mode: exclusion; */
    background-image: linear-gradient(45deg,#8b4394 0%,#d4c6f9 35%,#fdcebb 85%,#ffffff 100%);
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    color:#fff;
    /* -webkit-text-stroke: 0.018em black; */
    animation: aparecer1 3s ease 1 both;

  }
  .projects .h3{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    font-family: 'Raleway', serif;
    font-size: 4.3em;
    animation: aparecer1 3s ease 1 both;
  }
  .projects .grid{
    
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    width: 90%;
    max-width: 40em;
    margin: 1em 0;
  
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax( 15rem , 1fr) );
    gap:1em;
  }
  .projects .article{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    width: 100%;
    min-height: 20vh;
    background: lightgoldenrodyellow;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    
  }
  .projects .h4{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom:0;
    left:0;
    
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items: center;
    
    color:#e0e0e0;
    font-size: 1.8em;
    font-family: 'Raleway', serif;
    font-style: italic;
    opacity: 0;
    transform:translateZ(1) scale(1.5);
    transition: all .5s ease;
  }
  .projects .article:hover .h4{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: white;
    font-weight: inherit;
    font-size: inherit;

    opacity: 1;
    transform:translateZ(1) scale(1);
  }
  .works{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color:#e0e0e0;
  }
  .works .h2{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    margin: 0 0 1rem;
    color:inherit;
    
  }

  
  .about{
    
    width: 100%;
    min-height: 80vh;
    padding: 7em 2em;
  
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .about .h2{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    margin: 0 0 2rem;

    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 5em;
    line-height:1em;
    /* color:#e0e0e0; */
    /* mix-blend-mode: exclusion; */
    background-image: linear-gradient(45deg,#8b4394 0%,#d4c6f9 35%,#fdcebb 85%,#ffffff 100%);
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    color:#fff;
  }
  .about .p{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    max-width: 40rem;
    margin: 0 0 2rem;
    font-size: 1.1em ;
    text-align: left;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    font-family: 'Raleway', serif;
  }
  .sobremi{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    text-decoration: underline;
    color: rgb(125, 125, 240);
  }
  .about .rrss{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */

    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .about .li{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    list-style-type: none;

    margin: 0 1em;
  }
  .about .svg{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

    width:3em;
    height:3em;
  }
  .footer{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* vertical-align: baseline; */
    
    padding:2em 0;
    text-align: center;
    color:#e0e0e0;
    position: relative;
    z-index: 2;
  }
  
  .seccion #projects{
    padding: 7em 2em 2em 2em;
  }

  .seccion #about{
    padding: 7em 2em 2em 2em;
  }  
  
  
  /* @keyframes circulo1{
    from{
      transform:rotate(0deg) scale(2);
    }
    to{
      transform:rotate(360deg) scale(2);
    }
  } */
  @keyframes aparecer1{
    from{
      opacity: 0;
      transform: translateY(50%);
    }
    to{
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  #cursor{
    width:5em;
    height:5em;
    background-color: rgba(0, 0, 0, 0.75);
    position:fixed;
    top:0;
    left:0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
  
  }
  #cursor.mini{
    transform: scale(0.7);
  }
  
  
  