{% extends "core/index.html"%}
{% load static %}


{% block titulo %}
Tus tareas
{% endblock titulo %}

{% block contenido %}

<h1>Tareas de {{username}}</h1>

{% comment %} <ul>
    {% for tarea in lista %}

        <li>
            <p> <strong>Título:</strong> {{tarea.nombre_tarea}}.<br/>  
                <strong>Descripción:</strong> {{tarea.descripcion}}.<br/>
                 Creada el {{tarea.creation_date}}<br/>
                 <div class="botones-container">
                    <a href="{% url 'editar_tarea' tarea.id %}"  class="boton-enlace">Editar</a> 
                    <form method="POST" action="{% url 'eliminar_tarea' tarea.id %}">
                        {% csrf_token %}
                        <button type="submit"  class="boton-enlace-eliminar">Eliminar</button>
                    </form><br/>                    
                </div>
                <br/> 
            </p>
        </li>



    {%endfor%}
</ul> {% endcomment %}


{% endblock contenido %}